@font-face {
    font-family: "ChickenQuiche";
    src: url(Chicken_Quiche.ttf) format("truetype");
}
.chickenfont { 
    font-family: "ChickenQuiche" !important;
    font-size: 40px !important;
    margin-left: auto;
    margin-right: auto;
}
.nav-link-sub{
    padding-left: 50px !important;
}

.nav-link-main{
    color: #D81B60 !important;
}
.nav-link-main i {
    padding-right: 10px !important;
}

.drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .mdl-layout__drawer .mdl-layout-title{
      color:rgb(63,81,181) !important;
  }
  #mapid { 
    height: 600px;
    z-index: 1;
    }
.search-bar{
    padding: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 3px 5px grey;
    z-index: 10;
    }

.search-bar .button {
    margin-left: 0px !important;
    margin-right: 2px !important;
    margin-top: 10px !important;


}
.search-bar * {
    max-width: 200px !important;
}

.mdl-textfield__input{
    padding: 0px ;
}

.mdl-textfield__label{
    top: 16px !important;
}

.mdl-js-textfield{
    padding: 10px;
}
